<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-26">
				Password Reset
				</span><br/>
				<span class="login100-form-title p-b-48">
					<i class="zmdi zmdi-font"></i>
				</span>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
					<input class="input100" type="text" name="email" placeholder="Enter Registered Email">
					<span class="focus-input100" data-placeholder="Email or Phone"></span>
				</div>

				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button class="login100-form-btn">
							Submit
						</button>
					</div>
				</div>
				<a class="login100-form-btn"  [routerLink]="['/register']">
					Go Back
				</a>



				<div class="center22">
					<span class="txt1">
						Don’t have an account?
					</span>

					<a class="txt2" [routerLink]="['/register']">
						Sign Up
					</a>
				</div>
			</form>
		</div>
	</div>
</div>


<div id="dropDownSelect1"></div>

<!-- Recover Email -->
<!-- <section class="instagram">
		<div class="login-02">
			<div class="two-login hvr-float-shadow">
				<div class="two-login-head">
						<img src="assets/images/top-key.png" alt=""/>
						<h1>Account Reset</h1>
				</div>
				<form action="/sendmail" method="post">
					<p>Enter the
						email address and we will send your instruction.</p>
						<li>
								<span class="glyphicon glyphicon-lock"></span><input id="email" name="email" type="text" placeholder="Email">
						</li>
						
					<div class="submit two">
						<input type="submit" onclick="navToIndex()" value="SIGN UP" >
					</div>
				</form>
			</div>
		</div>
</section> -->
