<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form class="login100-form validate-form">
				<span class="login100-form-title p-b-26">
					REGISTER
				</span><br/>
				<span class="login100-form-title p-b-48">
					<i class="zmdi zmdi-font"></i>
				</span>

				<div class="wrap-input100 validate-input" >
					<input class="input100" [(ngModel)]="merchantDet.businessName" type="text" name="businessname" placeholder="Business Name">
					<span class="focus-input100" data-placeholder="Business Name"></span>
				</div>
				<div class="wrap-input100 validate-input" >
					<input class="input100" [(ngModel)]="merchantDet.bizPhoneNumber" type="tel" name="Phone" placeholder="Phone Number">
					<span class="focus-input100" data-placeholder="Phone Number"></span>
				</div>
				<div class="wrap-input100 " data-validate = "Valid email is: a@b.c">
					<input class="input100" [(ngModel)]="merchantDet.email" type="text" name="email" placeholder="Email">
					<span class="focus-input100" data-placeholder="Email (optional)"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Enter password">
					<span class="btn-show-pass">
						<i class="zmdi zmdi-eye"></i>
					</span>
					<input class="input100" [(ngModel)]="trialPassword" type="password" name="password" placeholder="Password">
					<span class="focus-input100" data-placeholder="Password"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Enter password">
					<span class="btn-show-pass">
						<i class="zmdi zmdi-eye"></i>
					</span>
					<input class="input100" [(ngModel)]="userInputs.password" type="password" name="password" placeholder="Re-Type Password">
					<span class="focus-input100" data-placeholder="comfrim Password"></span>
				</div>

				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button (click)="signUp();" class="login100-form-btn">
							Submit
						</button>
					</div>
				</div>

				<div class="center22">
					<span class="txt1">
						I have an account?
					</span>

					<a class="txt2" [routerLink]="['/login']">
						Sign in
					</a>
				</div>
			</form>
		</div>
	</div>
</div>


<div id="dropDownSelect1"></div>



<!-- Instagram -->
<!-- <section class="instagram">
		<div class="login-02">
			<div class="two-login ">
			  <div class="two-login-head">
				  <img src="assets/images/top-note.png" alt=""/>
				  <h1>REGISTER</h1>
			  </div>
			  <form #signupForm="ngForm">
						<section [hidden]="navLocation!=0">
								<li>
									<span class="glyphicon glyphicon-user"></span>
									<input id="bizName" required [(ngModel)]="userInputs.businessName" name="bizName"  type="text" class="text" placeholder="Business Name" >
								</li>
								<li>
									<span class="glyphicon glyphicon-earphone"></span>
									<input id="bizLine" required [(ngModel)]="userInputs.bizPhoneNumber" name="bizLine" type="text" placeholder="Business Line" >
								</li>
								<li>
									<span class="glyphicon glyphicon-envelope"></span>
									<input id="bizEmail" required [(ngModel)]="userInputs.email" name="bizEmail" type="text" class="text" placeholder="E-mail" >
								</li>
								<li>
									<span class="glyphicon glyphicon-lock"></span>
									<input id="bizPass1" required [(ngModel)]="userInputs.password1" name="bizPass1" type="password" placeholder="Password"  >
								</li>
								<li>
									<span class="glyphicon glyphicon-lock"></span>
									<input id="bizPass2" required [(ngModel)]="userInputs.password" name="bizPass2" type="password" placeholder="Confirm Password" >
								</li>
						</section>
						<section [hidden]="navLocation!=1">
								<li>
									<span class="glyphicon glyphicon-user"></span>
									<input id="lastname" required [(ngModel)]="userInputs.lastname" name="lastname" type="text" class="text" placeholder="Last name"  >
								</li>
								<li>
									<span class="glyphicon glyphicon-user"></span>
									<input id="firstname" required [(ngModel)]="userInputs.firstname" name="firstname" type="text" class="text" placeholder="First name"  >
								</li>
								<li>
									<span class="glyphicon glyphicon-user"></span>
									<input id="phoneNumber" required [(ngModel)]="userInputs.phoneNumber" name="phoneNumber" type="text" class="text" placeholder="Mobile Number"  >
								</li>
						</section>
						<section [hidden]="navLocation!=2">
							<div class="block4 wrap-pic-w">
								<img src="assets/img/gallery-03.jpg" alt="IMG-INSTAGRAM">
						  
								<a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
								  <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
									<i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
									<span class="p-t-2">39</span>
								  </span>
						  
								  <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
									<p class="s-text10 m-b-15 h-size1 of-hidden">
									  Business Logo
									</p>
						  
									<span class="s-text9">
									  Click To Upload
									</span>
								  </div>
								</a>
							</div>
							<li>
								<span class="glyphicon glyphicon-user"></span>
								<input id="siteSubdomain" required [(ngModel)]="userInputs.siteSubdomain" name="siteSubdomain" type="text" class="text" placeholder="Site Sub Domain" >
							</li>
							<li>
								<span class="glyphicon glyphicon-home"></span>
								<input id="bizAdress" required [(ngModel)]="userInputs.bizAdress" name="bizAdress" type="text" class="text" placeholder="company Address" >
							</li>
							<li>
								<select id="bizCategory" required [(ngModel)]="userInputs.bizCategory" name="bizCategory" class="form-control" value="" label="Business Category">
									<option value="">Category</option>
									<option>Tech</option>
									<option>Fashion</option>
									<option>Entertainment</option>
									<option>Education</option>
								</select>
							</li>
							<li>
								<select id="bizState" required [(ngModel)]="userInputs.bizState" name="bizState" class="form-control" value=""  label="State">
									<option value="">Select Your State</option>
									<option>Lagos</option>
									<option>Oyo</option>
									<option>Kaduna</option>
									<option>Kogi</option>
								</select>
							</li>
							<li>
								<select id="bizLGA" required [(ngModel)]="userInputs.bizLGA" name="bizLGA" class="form-control" value="" name="LGA" label="LGA">
									<option value="">Select Your LGA</option>
									<option>Mainland</option>
									<option>Island</option>
								</select>
							</li>
						</section>					
				</form>
				<div class="p-container">
				  <label class="checkbox two">
				  <input type="checkbox"  checked><i></i>I agree to the <a href="#">Terms of Servicee</a></label>
				</div>
				<button class="btn btn-default float-left" (click)="navToPrev();">Previous</button>
				<button class="btn btn-default btn float-right" (click)="navToNext();" >Next</button>
				<div class="submit two">
					<input type="submit" (click)="signUp()" value="SIGN UP" >
				</div>
				<h5>Already a member ?<a [routerLink]="['/login']"> Login Here</a></h5>
			</div>
		</div>
	</section> -->