<!-- breadcrumb -->
<div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
		<a [routerLink]="['/index']" class="s-text16">
			Home
			<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
		</a>

		<a [routerLink]="['/store',{'data':productDetail.uid}]" class="s-text16">
			Store
			<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
		</a>
		<span class="s-text17">
			{{productDetail.productName}}
		</span>
	</div>

	<!-- Product Detail -->
	<div class="container bgwhite p-t-35 p-b-80">
		<div class="flex-w flex-sb">
			<div class="col-sm-6 col-md-6 col-lg-6 p-b-50">
				<!-- Product -->
				<div class="row">
					<div class="col-sm-3 col-md-3 col-lg-3 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative ">
								<img src="assets/images/item-02.jpg" alt="IMG-PRODUCT">
		
								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist  trans-0-4">
									</a>
								</div>
							</div>
						</div><br>
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative ">
								<img src="assets/images/item-02.jpg" alt="IMG-PRODUCT">
		
								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
									</a>
								</div>
							</div>
						</div><br>
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative ">
								<img src="assets/images/item-02.jpg" alt="IMG-PRODUCT">
		
								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-9 col-md-9 col-lg-9 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative">
								<img src="assets/images/item-02.jpg" alt="IMG-PRODUCT">
		
								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>
		
									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- <button [hidden]="queryTpe!='product'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="navToProduct(searchItem.productID);">
												View Product
										</button>
										<br>
										<button [hidden]="queryTpe!='store'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="navToStore(searchItem.merchantID);">
												Visit Store
										</button>
										<br>
										<button [hidden]="queryTpe!='product'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" >
											   Add to Cart
										</button> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="w-size14  respon5">
				<h4 class="product-detail-name m-text16 p-b-13">
						{{productDetail.productName}}
				</h4>

				<span class="m-text17">
						$ {{productDetail.price}}
				</span>

				<!--  -->
				<div class="p-t-33 p-b-60">
					<div class=" flex-w p-t-10">
						<div class="w-size16 flex-m flex-w">
							<div class="flex-w bo5 of-hidden m-r-22 m-t-10 m-b-10">
								<button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2">
									<i class="fs-12 fa fa-minus" aria-hidden="true"></i>
								</button>

								<input class="size8 m-text18 t-center num-product" type="number" name="num-product" value="1">

								<button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2">
									<i class="fs-12 fa fa-plus" aria-hidden="true"></i>
								</button>
							</div>

							<div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
								<!-- Button -->
								<button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
									Add to Cart
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="p-b-45">
					<span class="s-text8 m-r-35">SKU: MUG-01</span>
					<span class="s-text8">Categories: Mug, Design</span>
				</div>

				<!--  -->
				<div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Description
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
							{{productDetail.description}}
						</p>
					</div>
				</div>

				<div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Additional information
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
							{{productDetail.description}}
						</p>
					</div>
				</div>

				<div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
					<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Reviews (1)
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
					</h5>

					<div class="dropdown-content dis-none p-t-15 p-b-23">
						<p class="s-text8">
							{{productDetail.description}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Relate Product -->
	<section class="relateproduct bgwhite p-t-45 p-b-138">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center">
					Related Products
				</h3>
			</div>

			<div class="col-sm-6 col-md-12 col-lg-12 p-b-50">
				<!-- Product -->
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<img src="assets/images/item-02.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- <button [hidden]="queryTpe!='product'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="navToProduct(searchItem.productID);">
												View Product
										</button> -->
										<br>
										<!-- <button [hidden]="queryTpe!='store'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="navToStore(searchItem.merchantID);">
												Visit Store
										</button> -->
										<br>
										<!-- <button [hidden]="queryTpe!='product'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" >
											   Add to Cart
										</button> -->
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a  href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
									Test
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<img src="assets/images/item-02.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- <button [hidden]="queryTpe!='product'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="navToProduct(searchItem.productID);">
												View Product
										</button>
										<br>
										<button [hidden]="queryTpe!='store'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="navToStore(searchItem.merchantID);">
												Visit Store
										</button>
										<br>
										<button [hidden]="queryTpe!='product'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" >
											   Add to Cart
										</button> -->
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a  href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
									Test
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<img src="assets/images/item-02.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- <button [hidden]="queryTpe!='product'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="navToProduct(searchItem.productID);">
												View Product
										</button>
										<br>
										<button [hidden]="queryTpe!='store'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="navToStore(searchItem.merchantID);">
												Visit Store
										</button>
										<br>
										<button [hidden]="queryTpe!='product'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" >
											   Add to Cart
										</button> -->
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a  href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
									Test
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<img src="assets/images/item-02.jpg" alt="IMG-PRODUCT">

								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>

									<div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- <button [hidden]="queryTpe!='product'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="navToProduct(searchItem.productID);">
												View Product
										</button>
										<br>
										<button [hidden]="queryTpe!='store'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="navToStore(searchItem.merchantID);">
												Visit Store
										</button>
										<br>
										<button [hidden]="queryTpe!='product'" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" >
											   Add to Cart
										</button> -->
									</div>
								</div>
							</div>

							<div class="block2-txt p-t-20">
								<a  href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
									Test
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>