
	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(assets/images/heading-pages-05.jpg);">
		<h2 class="l-text2 t-center">
			Blog
		</h2>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-60">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-3 p-b-75">
						<div class="rightbar">
							<!-- Search -->
							<div class="pos-relative bo11 of-hidden">
								<input class="s-text7 size16 p-l-23 p-r-50" type="text" name="search-product" placeholder="Search">
	
								<button class="flex-c-m size5 ab-r-m color1 color0-hov trans-0-4">
									<i class="fs-13 fa fa-search" aria-hidden="true"></i>
								</button>
							</div>
	
							<!-- Categories -->
							<h4 class="m-text23 p-t-56 p-b-34">
								Categories
							</h4>
	
							<ul>
								<li class="p-t-6 p-b-8 bo6">
									<a href="#" class="s-text13 p-t-5 p-b-5">
										Fashion
									</a>
								</li>
	
								<li class="p-t-6 p-b-8 bo7">
									<a href="#" class="s-text13 p-t-5 p-b-5">
										Beauty
									</a>
								</li>
	
								<li class="p-t-6 p-b-8 bo7">
									<a href="#" class="s-text13 p-t-5 p-b-5">
										Street Style
									</a>
								</li>
	
								<li class="p-t-6 p-b-8 bo7">
									<a href="#" class="s-text13 p-t-5 p-b-5">
										Life Style
									</a>
								</li>
	
								<li class="p-t-6 p-b-8 bo7">
									<a href="#" class="s-text13 p-t-5 p-b-5">
										DIY & Crafts
									</a>
								</li>
							</ul>
	
							<!-- Featured Products -->
							<h4 class="m-text23 p-t-65 p-b-34">
								Featured Products
							</h4>
	
							<ul class="bgwhite">
								<li class="flex-w p-b-20">
									<a href="product-detail.html" class="dis-block wrap-pic-w w-size22 m-r-20 trans-0-4 hov4">
										<img src="assets/images/item-16.jpg" alt="IMG-PRODUCT">
									</a>
	
									<div class="w-size23 p-t-5">
										<a href="product-detail.html" class="s-text20">
											White Shirt With Pleat Detail Back
										</a>
	
										<span class="dis-block s-text17 p-t-6">
											$19.00
										</span>
									</div>
								</li>
	
								<li class="flex-w p-b-20">
									<a href="product-detail.html" class="dis-block wrap-pic-w w-size22 m-r-20 trans-0-4 hov4">
										<img src="assets/images/item-17.jpg" alt="IMG-PRODUCT">
									</a>
	
									<div class="w-size23 p-t-5">
										<a href="product-detail.html" class="s-text20">
											Converse All Star Hi Black Canvas
										</a>
	
										<span class="dis-block s-text17 p-t-6">
											$39.00
										</span>
									</div>
								</li>
	
								<li class="flex-w p-b-20">
									<a href="product-detail.html" class="dis-block wrap-pic-w w-size22 m-r-20 trans-0-4 hov4">
										<img src="assets/images/item-08.jpg" alt="IMG-PRODUCT">
									</a>
	
									<div class="w-size23 p-t-5">
										<a href="product-detail.html" class="s-text20">
											Nixon Porter Leather Watch In Tan
										</a>
	
										<span class="dis-block s-text17 p-t-6">
											$17.00
										</span>
									</div>
								</li>
	
								<li class="flex-w p-b-20">
									<a href="product-detail.html" class="dis-block wrap-pic-w w-size22 m-r-20 trans-0-4 hov4">
										<img src="assets/images/item-03.jpg" alt="IMG-PRODUCT">
									</a>
	
									<div class="w-size23 p-t-5">
										<a href="product-detail.html" class="s-text20">
											Denim jacket blue
										</a>
	
										<span class="dis-block s-text17 p-t-6">
											$39.00
										</span>
									</div>
								</li>
	
								<li class="flex-w p-b-20">
									<a href="product-detail.html" class="dis-block wrap-pic-w w-size22 m-r-20 trans-0-4 hov4">
										<img src="assets/images/item-05.jpg" alt="IMG-PRODUCT">
									</a>
	
									<div class="w-size23 p-t-5">
										<a href="product-detail.html" class="s-text20">
											Nixon Porter Leather Watch In Tan
										</a>
	
										<span class="dis-block s-text17 p-t-6">
											$17.00
										</span>
									</div>
								</li>
							</ul>
	
							<!-- Archive -->
							<h4 class="m-text23 p-t-50 p-b-16">
								Archive
							</h4>
	
							<ul>
								<li class="flex-sb-m">
									<a href="#" class="s-text13 p-t-5 p-b-5">
										July 2018
									</a>
	
									<span class="s-text13">
										(9)
									</span>
								</li>
	
								<li class="flex-sb-m">
									<a href="#" class="s-text13 p-t-5 p-b-5">
										June 2018
									</a>
	
									<span class="s-text13">
										(39)
									</span>
								</li>
	
								<li class="flex-sb-m">
									<a href="#" class="s-text13 p-t-5 p-b-5">
										May 2018
									</a>
	
									<span class="s-text13">
										(29)
									</span>
								</li>
	
								<li class="flex-sb-m">
									<a href="#" class="s-text13 p-t-5 p-b-5">
										April  2018
									</a>
	
									<span class="s-text13">
										(35)
									</span>
								</li>
	
								<li class="flex-sb-m">
									<a href="#" class="s-text13 p-t-5 p-b-5">
										March 2018
									</a>
	
									<span class="s-text13">
										(22)
									</span>
								</li>
	
								<li class="flex-sb-m">
									<a href="#" class="s-text13 p-t-5 p-b-5">
										February 2018
									</a>
	
									<span class="s-text13">
										(32)
									</span>
								</li>
	
								<li class="flex-sb-m">
									<a href="#" class="s-text13 p-t-5 p-b-5">
										January 2018
									</a>
	
									<span class="s-text13">
										(21)
									</span>
								</li>
	
								<li class="flex-sb-m">
									<a href="#" class="s-text13 p-t-5 p-b-5">
										December 2017
									</a>
	
									<span class="s-text13">
										(26)
									</span>
								</li>
							</ul>
	
							<!-- Tags -->
							<h4 class="m-text23 p-t-50 p-b-25">
								Tags
							</h4>
	
							<div class="wrap-tags flex-w">
								<a href="#" class="tag-item">
									Fashion
								</a>
	
								<a href="#" class="tag-item">
									Lifestyle
								</a>
	
								<a href="#" class="tag-item">
									Denim
								</a>
	
								<a href="#" class="tag-item">
									Streetstyle
								</a>
	
								<a href="#" class="tag-item">
									Crafts
								</a>
							</div>
						</div>
				</div>

				<div class="col-md-8 col-lg-9 p-b-75">
					<div class="p-r-50 p-r-0-lg">
						<!-- Product -->
						<div class="row">
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
										<img src="assets/images/item-02.jpg" alt="IMG-PRODUCT">
	
										<div class="block2-overlay trans-0-4">
											<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>
	
											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onclick="navToProduct();">
													View Product
												</button>
												<br>
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onclick="navToStore();">
													Visit Store
												</button>
											</div>
										</div>
									</div>
	
									<div class="block2-txt p-t-20">
										<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
											Herschel supply co 25l
										</a>
	
										<span class="block2-price m-text6 p-r-5">
											$75.00
										</span>
									</div>
								</div>
							</div>
	
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative">
										<img src="assets/images/item-03.jpg" alt="IMG-PRODUCT">
	
										<div class="block2-overlay trans-0-4">
											<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>
	
											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													View Product
												</button>
											</div>
										</div>
									</div>
	
									<div class="block2-txt p-t-20">
										<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
											Denim jacket blue
										</a>
	
										<span class="block2-price m-text6 p-r-5">
											$92.50
										</span>
									</div>
								</div>
							</div>
	
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative">
										<img src="assets/images/item-05.jpg" alt="IMG-PRODUCT">
	
										<div class="block2-overlay trans-0-4">
											<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>
	
											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													View Product
												</button>
											</div>
										</div>
									</div>
	
									<div class="block2-txt p-t-20">
										<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
											Coach slim easton black
										</a>
	
										<span class="block2-price m-text6 p-r-5">
											$165.90
										</span>
									</div>
								</div>
							</div>
	
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
										<img src="assets/images/item-07.jpg" alt="IMG-PRODUCT">
	
										<div class="block2-overlay trans-0-4">
											<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>
	
											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													View Product
												</button>
											</div>
										</div>
									</div>
	
									<div class="block2-txt p-t-20">
										<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
											Frayed denim shorts
										</a>
	
										<span class="block2-oldprice m-text7 p-r-5">
											$29.50
										</span>
	
										<span class="block2-newprice m-text8 p-r-5">
											$15.90
										</span>
									</div>
								</div>
							</div>
	
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
										<img src="assets/images/item-01.jpg" alt="IMG-PRODUCT">
	
										<div class="block2-overlay trans-0-4">
											<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>
	
											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													View Product
												</button>
											</div>
										</div>
									</div>
	
									<div class="block2-txt p-t-20">
										<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
											Herschel supply co 25l
										</a>
	
										<span class="block2-price m-text6 p-r-5">
											$75.00
										</span>
									</div>
								</div>
							</div>
	
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative">
										<img src="assets/images/item-14.jpg" alt="IMG-PRODUCT">
	
										<div class="block2-overlay trans-0-4">
											<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>
	
											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													View Product
												</button>
											</div>
										</div>
									</div>
	
									<div class="block2-txt p-t-20">
										<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
											Denim jacket blue
										</a>
	
										<span class="block2-price m-text6 p-r-5">
											$92.50
										</span>
									</div>
								</div>
							</div>
	
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
										<img src="assets/images/item-06.jpg" alt="IMG-PRODUCT">
	
										<div class="block2-overlay trans-0-4">
											<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>
	
											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													View Product
												</button>
											</div>
										</div>
									</div>
	
									<div class="block2-txt p-t-20">
										<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
											Herschel supply co 25l
										</a>
	
										<span class="block2-price m-text6 p-r-5">
											$75.00
										</span>
									</div>
								</div>
							</div>
	
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative">
										<img src="assets/images/item-08.jpg" alt="IMG-PRODUCT">
	
										<div class="block2-overlay trans-0-4">
											<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>
	
											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													View Product
												</button>
											</div>
										</div>
									</div>
	
									<div class="block2-txt p-t-20">
										<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
											Denim jacket blue
										</a>
	
										<span class="block2-price m-text6 p-r-5">
											$92.50
										</span>
									</div>
								</div>
							</div>
	
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative">
										<img src="assets/images/item-10.jpg" alt="IMG-PRODUCT">
	
										<div class="block2-overlay trans-0-4">
											<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>
	
											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													View Product
												</button>
											</div>
										</div>
									</div>
	
									<div class="block2-txt p-t-20">
										<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
											Coach slim easton black
										</a>
	
										<span class="block2-price m-text6 p-r-5">
											$165.90
										</span>
									</div>
								</div>
							</div>
	
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
										<img src="assets/images/item-11.jpg" alt="IMG-PRODUCT">
	
										<div class="block2-overlay trans-0-4">
											<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>
	
											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													View Product
												</button>
											</div>
										</div>
									</div>
	
									<div class="block2-txt p-t-20">
										<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
											Frayed denim shorts
										</a>
	
										<span class="block2-oldprice m-text7 p-r-5">
											$29.50
										</span>
	
										<span class="block2-newprice m-text8 p-r-5">
											$15.90
										</span>
									</div>
								</div>
							</div>
	
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
										<img src="assets/images/item-12.jpg" alt="IMG-PRODUCT">
	
										<div class="block2-overlay trans-0-4">
											<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>
	
											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													View Product
												</button>
											</div>
										</div>
									</div>
	
									<div class="block2-txt p-t-20">
										<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
											Herschel supply co 25l
										</a>
	
										<span class="block2-price m-text6 p-r-5">
											$75.00
										</span>
									</div>
								</div>
							</div>
	
							<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
								<!-- Block2 -->
								<div class="block2">
									<div class="block2-img wrap-pic-w of-hidden pos-relative">
										<img src="assets/images/item-15.jpg" alt="IMG-PRODUCT">
	
										<div class="block2-overlay trans-0-4">
											<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
												<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
												<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
											</a>
	
											<div class="block2-btn-addcart w-size1 trans-0-4">
												<!-- Button -->
												<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
													View Product
												</button>
											</div>
										</div>
									</div>
	
									<div class="block2-txt p-t-20">
										<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
											Denim jacket blue
										</a>
	
										<span class="block2-price m-text6 p-r-5">
											$92.50
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Pagination -->
					<div class="pagination flex-m flex-w p-r-50">
						<a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
						<a href="#" class="item-pagination flex-c-m trans-0-4">2</a>
					</div>
				</div>

				
			</div>
		</div>
	</section>