<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-26">
          LOGIN
        </span><br/>
        <span class="login100-form-title p-b-48">
          <i class="zmdi zmdi-font"></i>
        </span>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
          <input id="email" required [(ngModel)]="userInputs.email" class="input100" placeholder="Email or Phone" type="text" name="email">
          <span class="focus-input100" data-placeholder="Email or Phone "></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <span class="btn-show-pass">
            <i class="zmdi zmdi-eye"></i>
          </span>
          <input id="password" required [(ngModel)]="userInputs.password" class="input100" placeholder="Password" type="password" name="pass">
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button (click)="login();" class="login100-form-btn">
              Login
            </button>
          </div>
        </div>

        <div class="center22">
          <span class="txt1">
            Don’t have an account?
          </span>

          <a class="txt2" [routerLink]="['/register']">
            Sign Up
          </a>
        </div>
        <div class="center22">

          <a class="txt2" [routerLink]="['/recover']">
            Forgot Your Password
          </a>
        </div>
        
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>
  
  <!-- <section class="instagram">
      <div class="login-02">
        <div class="two-login">
          <div class="two-login-head">
              <img src="assets/images/top-lock.png" alt=""/>
              <h1>LOGIN</h1>
              <span></span>
          </div>
          <form  #LoginForm="ngForm">
              <li>
                <input id="email" required [(ngModel)]="userInputs.email" name="email" type="text" placeholder="phone or email" >
              </li>
              <li>
                <input id="password" required [(ngModel)]="userInputs.password" name="password" type="password" placeholder="Password"  >
              </li>
              <div class="p-container">
                  <label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Remember Me</label>
                  <h6><a [routerLink]="['/recover']">Forgot Password ?</a> </h6>
                  <div class="clear"> </div>
              </div>
              <div class="submit two">
                  <input type="submit" (click)="login();" [disabled]="!LoginForm.form.valid" value="SIGN IN" >
              </div>
              <h5>Don't have an account ?<a [routerLink]="['/register']"> Sign Up </a></h5>
          </form>
        </div>
      </div>
</section> -->