<!-- Content page -->
<!-- <div class="p-t-100 p-b-100 flex-col-c-m contact-map size21" id="google_map" data-map-x="6.4549568" data-map-y="3.4145174" data-pin="images/icons/icon-position-map.png" data-scrollwhell="0" data-draggable="1"></div> -->
<!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomLevel"  [mapTypeId]="mapType">
		<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
		<agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker>
</agm-map> -->

<section class="bgwhite p-t-55 p-b-65">
	<div class="container">
		<div class="row">

			
			<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<div class="pos-relative bo11 of-hidden">
						<input class="s-text7 size16 p-l-23 p-r-50" type="text" name="search-product" placeholder="Search">

						<button class="flex-c-m size5 ab-r-m color1 color0-hov trans-0-4">
							<i class="fs-13 fa fa-search" aria-hidden="true"></i>
						</button>
					</div><br>
					<!--  -->
					<div class="flex-sb-m flex-w p-b-35">
						<div class="flex-w">
							<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
								<select class="selection-2" name="sorting">
									<option>Default Sorting</option>
									<option>Popularity</option>
									<option>Price: low to high</option>
									<option>Price: high to low</option>
									<option>Color</option>
									<option>Size</option>
								</select>
							</div>

							<div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
								<select class="selection-2" name="sorting">
									<option>Price</option>
									<option>$0.00 - $50.00</option>
									<option>$50.00 - $100.00</option>
									<option>$100.00 - $150.00</option>
									<option>$150.00 - $200.00</option>
									<option>$200.00+</option>

								</select>
							</div>
						</div>

						<div class="filter-color p-t-22  bo3">
								<ul class="flex-w">
									<li class="m-r-10">
										<input class="checkbox-color-filter" id="color-filter1" type="checkbox" name="color-filter1">
										<label class="color-filter color-filter1" for="color-filter1"></label>
									</li>
	
									<li class="m-r-10">
										<input class="checkbox-color-filter" id="color-filter2" type="checkbox" name="color-filter2">
										<label class="color-filter color-filter2" for="color-filter2"></label>
									</li>
	
									<li class="m-r-10">
										<input class="checkbox-color-filter" id="color-filter3" type="checkbox" name="color-filter3">
										<label class="color-filter color-filter3" for="color-filter3"></label>
									</li>
	
									<li class="m-r-10">
										<input class="checkbox-color-filter" id="color-filter4" type="checkbox" name="color-filter4">
										<label class="color-filter color-filter4" for="color-filter4"></label>
									</li>
	
									<li class="m-r-10">
										<input class="checkbox-color-filter" id="color-filter5" type="checkbox" name="color-filter5">
										<label class="color-filter color-filter5" for="color-filter5"></label>
									</li>
	
									<li class="m-r-10">
										<input class="checkbox-color-filter" id="color-filter6" type="checkbox" name="color-filter6">
										<label class="color-filter color-filter6" for="color-filter6"></label>
									</li>
	
									<li class="m-r-10">
										<input class="checkbox-color-filter" id="color-filter7" type="checkbox" name="color-filter7">
										<label class="color-filter color-filter7" for="color-filter7"></label>
									</li>
								</ul>
						</div>

						<span class="s-text8 p-t-5 p-b-5">
							Showing 1–12 of 16 results
						</span>
					</div>

					<!-- Product -->
					<div class="row">
						<div *ngFor="let searchItem of productList" class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
									<img *ngIf="searchItem.image==null||searchItem.image==''" src="assets/images/item-02.jpg" style="height: 327px;" >
									<img *ngIf="searchItem.image!=null" src="{{searchItem.image}}" style="height: 327px;" alt="{{searchItem.productName}}">
									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>
										<div class="block2-btn-addcart w-size1 trans-0-4">
											<button  class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="navToProduct(searchItem.productID);">
													View Product
											</button>
											<br>
											<button  class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" (click)="addToCart(searchItem.productID);" >
												   Add to Cart
											</button>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a  (click)="navToProduct(searchItem.productID);" class="block2-name dis-block s-text3 p-b-5">
										{{searchItem.productName}}
									</a>
									<span  class="block2-price m-text6 p-r-5">
										${{searchItem.price}}
									</span>
								</div>
							</div>
						</div>

					</div>
					<!-- <div [hidden]="searchList!=0">
						<p>No Records Found</p>
					</div> -->

					<!-- Pagination -->
					<!-- <div [hidden]="searchList==0" class="pagination flex-m flex-w p-t-26">
						<a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
						<a href="#" class="item-pagination flex-c-m trans-0-4">2</a>
					</div> -->
			</div>

			<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
				<div class="leftbar p-r-20 p-r-0-sm">
					<!--  -->
					<h4 class="m-text14 p-b-7">
						Categories
					</h4>

					<ul class="p-b-54">
						<li class="p-t-4">
							<a href="#" class="s-text13 active1">
								All
							</a>
						</li>
						<li *ngFor="let category of categoryList" class="p-t-4">
							<a href="#" class="s-text13 active1">
								{{category|uppercase }}
							</a>
						</li>
					</ul>

					<!-- <div class="search-product pos-relative bo4 of-hidden">
						<input class="s-text7 size6 p-l-23 p-r-50" type="text" name="search-product" placeholder="Search Products...">

						<button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
							<i class="fs-12 fa fa-search" aria-hidden="true"></i>
						</button>
					</div> -->

					<!-- Featured Products -->
					<h4 class="m-text20 p-t-65 p-b-34">
						Featured Products
					</h4>

						<ul *ngFor="let searchItem of productList" class="bgwhite">
							<li class="flex-w p-b-20">
								<a  (click)="navToProduct(searchItem.productID);" class="dis-block wrap-pic-w w-size22 m-r-20 trans-0-4 hov4">
									<img src="{{searchItem.image}}" alt="IMG-PRODUCT">
								</a>	
								<div class="w-size23 p-t-5">
									<a  (click)="navToProduct(searchItem.productID);" class="s-text20">
										{{searchItem.productName}}
									</a>	
									<span class="dis-block s-text17 p-t-6">
										${{searchItem.price}}
									</span>
								</div>
							</li>
						</ul>

	
						<!-- Tags -->
						<h4 class="m-text23 p-t-50 p-b-25">
							Tags
						</h4>

						<div class="wrap-tags flex-w">
							<a href="#" class="tag-item">
								Fashion
							</a>

							<a href="#" class="tag-item">
								Lifestyle
							</a>

							<a href="#" class="tag-item">
								Denim
							</a>

							<a href="#" class="tag-item">
								Streetstyle
							</a>

							<a href="#" class="tag-item">
								Crafts
							</a>
						</div>

				</div>
			</div>

		</div>
	</div>
</section>