<div [hidden]="hideforStoreMenu" class="wrap_header fixed-header2 trans-0-4">
	<!-- Logo -->
	<a href="index.html" class="logo">
	  <img src="assets/images/icons/logo.png" alt="IMG-LOGO">
	</a>
  
	<!-- Menu 1-->
	<div  class="wrap_menu">
	  <nav class="menu">
			<ul class="main_menu">
				<li>
				<a [routerLink]="['/index']">Home</a>
				</li>
				<li>
				<a [routerLink]="['/stores']">Stores</a>
				</li>
				<li>
				<a [routerLink]="['/products']">Products</a>
				</li>
		
				<li [hidden]="!isUserLoggedIn">
						<a [routerLink]="['/store_edit']">Sell</a>
				</li>
		
				<li>
						<a [routerLink]="['/advert']">Advertise</a>
				</li>
				
				<li>
						<a [routerLink]="['/contact']">Contact Us</a>
				</li>
		
			</ul>
	  </nav>
	</div>
  
	<!-- Header Icon -->
	<div class="header-icons">
		<ul class="main_menu"> 
			<li>
                <a class="header-wrapicon1 dis-block">
                    <img src="assets/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                </a>
                <ul class="sub_menu">
                <li [hidden]="!isUserLoggedIn" (click)="logOut();" >Sign Out</li>
                <li [hidden]="isUserLoggedIn" ><a [routerLink]="['/login']">Sign In</a></li>
                <li [hidden]="isUserLoggedIn" ><a [routerLink]="['/register']">Register</a></li>
                </ul>
		    </li>
		</ul>
		
  
	  <span class="linedivide1"></span>
  
	  <div class="header-wrapicon2">
			<img src="assets/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
			<span class="header-icons-noti">0</span>
		
			<!-- Header cart noti -->
			<div class="header-cart header-dropdown">
				<ul class="header-cart-wrapitem">
				<li class="header-cart-item">
					<div class="header-cart-item-img">
					<img src="assets/images/item-cart-01.jpg" alt="IMG">
					</div>
		
					<div class="header-cart-item-txt">
					<a href="#" class="header-cart-item-name">
						White Shirt With Pleat Detail Back
					</a>
		
					<span class="header-cart-item-info">
						1 x $19.00
					</span>
					</div>
				</li>
		
				<li class="header-cart-item">
					<div class="header-cart-item-img">
					<img src="assets/images/item-cart-02.jpg" alt="IMG">
					</div>
		
					<div class="header-cart-item-txt">
					<a href="#" class="header-cart-item-name">
						Converse All Star Hi Black Canvas
					</a>
		
					<span class="header-cart-item-info">
						1 x $39.00
					</span>
					</div>
				</li>
		
				<li class="header-cart-item">
					<div class="header-cart-item-img">
					<img src="assets/images/item-cart-03.jpg" alt="IMG">
					</div>
		
					<div class="header-cart-item-txt">
					<a href="#" class="header-cart-item-name">
						Nixon Porter Leather Watch In Tan
					</a>
		
					<span class="header-cart-item-info">
						1 x $17.00
					</span>
					</div>
				</li>
				</ul>
		
				<div class="header-cart-total">
				Total: $75.00
				</div>
		
				<div class="header-cart-buttons">
				<div class="header-cart-wrapbtn">
					<!-- Button -->
					<a [routerLink]="['/cart']" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
							View Cart
					</a>
				</div>
		
				<div class="header-cart-wrapbtn">
					<!-- Button -->
					<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
					Check Out
					</a>
				</div>
				</div>
			</div>
		</div>
		<!-- <span class="linedivide1"></span>
		<a  [hidden]="!isUserLoggedIn"  [routerLink]="['/store_edit']" class="header-wrapicon1 dis-block m-l-30">
			<img src="assets/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
		</a> -->
	</div>
</div>
  

  
<!-- Header -->
<header [hidden]="hideforStoreMenu" class="header2">
<!-- Header desktop -->
<div class="container-menu-header-v2 p-t-26">
	<div class="topbar2">
	

	<!-- Logo2 -->
	<a href="index.html" class="logo2">
		<img src="assets/images/icons/logo.png" alt="IMG-LOGO">
	</a>

	<div class="topbar-child2">
		<span class="topbar-email">
		{{usrEmail}}
		</span>


		<ul class="main_menu">
		<li>
			<a  class="header-wrapicon1 dis-block m-l-30">
				<img src="assets/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
			</a>
			<ul class="sub_menu">
			<li [hidden]="!isUserLoggedIn" (click)="logOut();" >Sign Out</li>
			<li [hidden]="isUserLoggedIn" ><a [routerLink]="['/login']">Sign In</a></li>
			<li [hidden]="isUserLoggedIn" ><a [routerLink]="['/register']">Register</a></li>
			</ul>
		</li>	
		</ul>
		

		<span class="linedivide1"></span>

		<div class="header-wrapicon2 m-r-13">
			<img src="assets/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
			<span class="header-icons-noti">0</span>

			<!-- Header cart noti -->
			<div class="header-cart header-dropdown">
				<ul class="header-cart-wrapitem">
				<li class="header-cart-item">
					<div class="header-cart-item-img">
					<img src="assets/images/item-cart-01.jpg" alt="IMG">
					</div>

					<div class="header-cart-item-txt">
					<a href="#" class="header-cart-item-name">
						White Shirt With Pleat Detail Back
					</a>

					<span class="header-cart-item-info">
						1 x $19.00
					</span>
					</div>
				</li>

				<li class="header-cart-item">
					<div class="header-cart-item-img">
					<img src="assets/images/item-cart-02.jpg" alt="IMG">
					</div>

					<div class="header-cart-item-txt">
					<a href="#" class="header-cart-item-name">
						Converse All Star Hi Black Canvas
					</a>

					<span class="header-cart-item-info">
						1 x $39.00
					</span>
					</div>
				</li>

				<li class="header-cart-item">
					<div class="header-cart-item-img">
					<img src="assets/images/item-cart-03.jpg" alt="IMG">
					</div>

					<div class="header-cart-item-txt">
					<a href="#" class="header-cart-item-name">
						Nixon Porter Leather Watch In Tan
					</a>

					<span class="header-cart-item-info">
						1 x $17.00
					</span>
					</div>
				</li>
				</ul>

				<div class="header-cart-total">
				Total: $75.00
				</div>

				<div class="header-cart-buttons">
				<div class="header-cart-wrapbtn">
					<!-- Button -->
					<a [routerLink]="['/cart']" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
							View Cart
					</a>
				</div>

				<div class="header-cart-wrapbtn">
					<!-- Button -->
					<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
					Check Out
					</a>
				</div>
				</div>
			</div>
		</div>
		<!-- <span class="linedivide1"></span>
		<a  [hidden]="!isUserLoggedIn"  [routerLink]="['/store_edit']" class="header-wrapicon1 dis-block m-l-30">
			<img src="assets/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
		</a> -->
	</div>
	</div>

	<div class="wrap_header">

	<!-- Menu 2-->
	<div class="wrap_menu">
		<nav class="menu">
				<ul class="main_menu">
						<li>
						<a [routerLink]="['/index']" >Home</a>
						</li>
						<li>
						<a [routerLink]="['/stores']">Stores</a>
						</li>
						<li>
						<a [routerLink]="['/products']">Products</a>
						</li>
				
						<li [hidden]="!isUserLoggedIn">
								<a [routerLink]="['/store_edit']" >Sell</a>
						</li>
				
						<li>
								<a [routerLink]="['/advert']">Advertise</a>
						</li>
						
						<li>
								<a [routerLink]="['/contact']">Contact Us</a>
						</li>
				
				</ul>
		</nav>
	</div>

	<!-- Header Icon -->
	<div class="header-icons">

	</div>
	</div>
</div>

<!-- Header Mobile -->
<div class="wrap_header_mobile">
	<!-- Logo moblie -->
	<a href="index.html" class="logo-mobile">
	<img src="assets/images/icons/logo.png" alt="IMG-LOGO">
	</a>

	<!-- Button show menu -->
	<div class="btn-show-menu">
	<!-- Header Icon mobile -->
	<div class="header-icons-mobile">
		<ul class="main_menu">
			<li>
			<a class="header-wrapicon1 dis-block m-l-30">
				<img src="assets/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
			</a>
			<ul class="sub_menu">
				<li [hidden]="!isUserLoggedIn" (click)="logOut();" >Sign Out</li>
				<li [hidden]="isUserLoggedIn" ><a [routerLink]="['/login']" >Sign In</a></li>
				<li [hidden]="isUserLoggedIn" ><a [routerLink]="['/register']">Register</a></li>
			</ul>
			</li>	
		</ul>

		<span class="linedivide1"></span>

		<div class="header-wrapicon2">
		<img src="assets/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
		<span class="header-icons-noti">0</span>

		<!-- Header cart noti -->
		<div class="header-cart header-dropdown">
			<ul class="header-cart-wrapitem">
			<li class="header-cart-item">
				<div class="header-cart-item-img">
				<img src="assets/images/item-cart-01.jpg" alt="IMG">
				</div>

				<div class="header-cart-item-txt">
				<a href="#" class="header-cart-item-name">
					White Shirt With Pleat Detail Back
				</a>

				<span class="header-cart-item-info">
					1 x $19.00
				</span>
				</div>
			</li>

			<li class="header-cart-item">
				<div class="header-cart-item-img">
				<img src="assets/images/item-cart-02.jpg" alt="IMG">
				</div>

				<div class="header-cart-item-txt">
				<a href="#" class="header-cart-item-name">
					Converse All Star Hi Black Canvas
				</a>

				<span class="header-cart-item-info">
					1 x $39.00
				</span>
				</div>
			</li>

			<li class="header-cart-item">
				<div class="header-cart-item-img">
				<img src="assets/images/item-cart-03.jpg" alt="IMG">
				</div>

				<div class="header-cart-item-txt">
				<a href="#" class="header-cart-item-name">
					Nixon Porter Leather Watch In Tan
				</a>

				<span class="header-cart-item-info">
					1 x $17.00
				</span>
				</div>
			</li>
			</ul>

			<div class="header-cart-total">
			Total: $75.00
			</div>

			<div class="header-cart-buttons">
			<div class="header-cart-wrapbtn">
				<!-- Button -->
				<a [routerLink]="['/cart']" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
						View Cart
				</a>
			</div>

			<div class="header-cart-wrapbtn">
				<!-- Button -->
				<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
				Check Out
				</a>
			</div>
			</div>
		</div>
		</div>
		<!-- <span class="linedivide1"></span>
		<a  [hidden]="!isUserLoggedIn"  [routerLink]="['/store_edit']" class="header-wrapicon1 dis-block m-l-30">
			<img src="assets/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
		</a> -->
	</div>

	<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
		<span class="hamburger-box">
		<span class="hamburger-inner"></span>
		</span>
	</div>
	</div>
</div>

<!-- Menu Mobile -->
<div  class="wrap-side-menu" >
	<nav class="side-menu">
	<ul class="main-menu">
		<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
		<span class="topbar-child1">
			Free shipping for standard order over $100
		</span>
		</li>

		<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
		<div class="topbar-child2-mobile">
			<span class="topbar-email">
			{{usrEmail}}
			</span>

			<div class="topbar-language rs1-select2">
			<select class="selection-1" name="time">
				<option>USD</option>
				<option>EUR</option>
			</select>
			</div>
		</div>
		</li>

		<li class="item-topbar-mobile p-l-10">
		<div class="topbar-social-mobile">
			<a href="#" class="topbar-social-item fa fa-facebook"></a>
			<a href="#" class="topbar-social-item fa fa-instagram"></a>
			<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
			<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
			<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
		</div>
		</li>

		<li class="item-menu-mobile">
		<a [routerLink]="['/index']">Home</a>
		</li>

		<li class="item-menu-mobile">
		<a [routerLink]="['/stores']">Stores</a>
		</li>

		<li class="item-menu-mobile">
		<a [routerLink]="['/products']" >Products</a>
		</li>

		<li [hidden]="!isUserLoggedIn"  class="item-menu-mobile">
			<a  [routerLink]="['/store_edit']" >Sell</a>
		</li>

		<li class="item-menu-mobile">
		<a [routerLink]="['/advert']">Advertise</a>
		</li>

		<li class="item-menu-mobile">
		<a [routerLink]="['/contact']" >Contact Us</a>
		</li>
	</ul>
	</nav>
</div>
</header>

<!-- //other pages ae routed here -->
<router-outlet></router-outlet>
<!-- //end of routing pages -->

<!-- Footer -->
<footer [hidden]="hideforStoreMenu" class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
		  <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
			<h4 class="s-text12 p-b-30">
			  GET IN TOUCH
			</h4>
	  
			<div>
			  <p class="s-text7 w-size27">
				Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
			  </p>
	  
			  <div class="flex-m p-t-30">
				<a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
				<a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
				<a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
				<a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
				<a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
			  </div>
			</div>
		  </div>
	  
		  <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
			<h4 class="s-text12 p-b-30">
			  Categories
			</h4>
	  
			<ul>
			  <li class="p-b-9">
				<a href="#" class="s-text7">
				  Men
				</a>
			  </li>
	  
			  <li class="p-b-9">
				<a href="#" class="s-text7">
				  Women
				</a>
			  </li>
	  
			  <li class="p-b-9">
				<a href="#" class="s-text7">
				  Dresses
				</a>
			  </li>
	  
			  <li class="p-b-9">
				<a href="#" class="s-text7">
				  Sunglasses
				</a>
			  </li>
			</ul>
		  </div>
	  
		  <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
			<h4 class="s-text12 p-b-30">
			  Links
			</h4>
	  
			<ul>
			  <li class="p-b-9">
				<a href="#" class="s-text7">
				  Search
				</a>
			  </li>
	  
			  <li class="p-b-9">
				<a href="#" class="s-text7">
				  About Us
				</a>
			  </li>
	  
			  <li class="p-b-9">
				<a href="#" class="s-text7">
				  Contact Us
				</a>
			  </li>
	  
			  <li class="p-b-9">
				<a href="#" class="s-text7">
				  Returns
				</a>
			  </li>
			</ul>
		  </div>
	  
		  <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
			<h4 class="s-text12 p-b-30">
			  Help
			</h4>
	  
			<ul>
			  <li class="p-b-9">
				<a href="#" class="s-text7">
				  Track Order
				</a>
			  </li>
	  
			  <li class="p-b-9">
				<a href="#" class="s-text7">
				  Returns
				</a>
			  </li>
	  
			  <li class="p-b-9">
				<a href="#" class="s-text7">
				  Shipping
				</a>
			  </li>
	  
			  <li class="p-b-9">
				<a href="#" class="s-text7">
				  FAQs
				</a>
			  </li>
			</ul>
		  </div>
	  
		  <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
			<h4 class="s-text12 p-b-30">
			  Newsletter
			</h4>
	  
			<form>
			  <div class="effect1 w-size9">
				<input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
				<span class="effect1-line"></span>
			  </div>
	  
			  <div class="w-size2 p-t-20">
				<!-- Button -->
				<button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
				  Subscribe
				</button>
			  </div>
	  
			</form>
		  </div>
		</div>
	  
		<div class="t-center p-l-15 p-r-15">
		  <a href="#">
			<img class="h-size2" src="assets/images/icons/paypal.png" alt="IMG-PAYPAL">
		  </a>
	  
		  <a href="#">
			<img class="h-size2" src="assets/images/icons/visa.png" alt="IMG-VISA">
		  </a>
	  
		  <a href="#">
			<img class="h-size2" src="assets/images/icons/mastercard.png" alt="IMG-MASTERCARD">
		  </a>
	  
		  <a href="#">
			<img class="h-size2" src="assets/images/icons/express.png" alt="IMG-EXPRESS">
		  </a>
	  
		  <a href="#">
			<img class="h-size2" src="assets/images/icons/discover.png" alt="IMG-DISCOVER">
		  </a>
	  
		  <div class="t-center s-text8 p-t-20">
			Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
		  </div>
		</div>
</footer>
	  
<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
<span class="symbol-btn-back-to-top">
	<i class="fa fa-angle-double-up" aria-hidden="true"></i>
</span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>

<!-- Modal Video 01-->
<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
	  
		<div class="modal-dialog" role="document" data-dismiss="modal">
		  <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>
	  
		  <div class="wrap-video-mo-01">
			<div class="w-full wrap-pic-w op-0-0"><img src="assets/images/icons/video-16-9.jpg" alt="IMG"></div>
			<div class="video-mo-01">
			  <iframe src="https://www.youtube.com/embed/Nt8ZrWY2Cmk?rel=0&amp;showinfo=0" allowfullscreen></iframe>
			</div>
		  </div>
		</div>
</div>
