.dropdown select {
      border: 0; 
-webkit-appearance: none;
-moz-appearance: none;
      appearance: none;
     position: absolute;
     list-style: none;
     width:100%;
     height: 70px;
}
@media (max-width: 480px) {
  .dropdown select {
        width:80%;
    }
}
.searchDiv{
  background-color: white;
  border: 0;
  border-color: transparent;
}
.selectItms{
  border: 1;
  border-color: grey;
  
}