<!-- Slide1 -->
<section class="slide1">
  <div class="wrap-slick1">
    <div class="slick1">
      <div class="item-slick1 item1-slick1" style="background-image: url(assets/img/gallery-09.jpg);">
        
        <div class="p-l-20 p-r-20 p-t-30">
          <div class=" pos-relative bo11 of-hidden">
            <input class="s-text7 size16 p-l-23 p-r-50" type="text" (ngModelChange)="searchSuggestion($event);" [(ngModel)]="searchCriteria.name" name="search-product" placeholder="What You Looking For?">
            <div [hidden]="hidesuggestion" class="dropdown">
              <ul class="searchDiv form-control p-l-23" >
                <li *ngFor="let optns of suggestions" (click)="hideSuggest(optns.title)" class="selectItms">
                  {{optns.title}}
                </li>
              </ul>
            </div>
            <input class="s-text7 size16 p-l-23 p-r-50" type="text" [(ngModel)]="searchCriteria.location" name="location" placeholder="Location">
            <button class="flex-c-m size5 ab-r-m color1 color0-hov trans-0-4" (click)="navToSearchResult();">
              <i class="fs-13 fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        
        
        <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
            <h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="rollIn">
              Leather Bags
            </h2>

            <span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="lightSpeedIn">
              New Collection 2018
            </span>

            <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
             
              <a href="product.html" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                Shop Now
              </a>
            </div>
        </div>
      </div>

    </div>
  </div>
</section>



<!-- Shipping -->
<section class="shipping bgwhite p-t-62 p-b-46">
  <div class="flex-w p-l-15 p-r-15">
    <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
      <h4 class="m-text12 t-center">
        <strong>Find</strong>
      </h4>	
      <p class="m-text12 t-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
        do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>

    <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
      <h4 class="m-text12 t-center">
        <strong>Interact</strong>
      </h4>
      <p class="m-text12 t-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>

    <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
      <h4 class="m-text12 t-center">
        <strong>Smile</strong>
      </h4>
      <p class="m-text12 t-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed 
          do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
</section>
<!-- Banner video -->


<!-- Instagram -->
<section class="instagram p-t-20">
  <div class="sec-title p-b-52 p-l-15 p-r-15">
    <h3 class="m-text5 t-center">
      What Our Users Think
    </h3>
  </div>

  <div class="flex-w">
    <!-- Block4 -->
    <div class="block4 wrap-pic-w">
      <img src="assets/img/gallery-03.jpg" alt="IMG-INSTAGRAM">

      <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
        <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
          <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
          <span class="p-t-2">39</span>
        </span>

        <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
          <p class="s-text10 m-b-15 h-size1 of-hidden">
            Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
          </p>

          <span class="s-text9">
            Photo by @nancyward
          </span>
        </div>
      </a>
    </div>

    <!-- Block4 -->
    <div class="block4 wrap-pic-w">
      <img src="assets/img/gallery-07.jpg" alt="IMG-INSTAGRAM">

      <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
        <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
          <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
          <span class="p-t-2">39</span>
        </span>

        <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
          <p class="s-text10 m-b-15 h-size1 of-hidden">
            Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
          </p>

          <span class="s-text9">
            Photo by @nancyward
          </span>
        </div>
      </a>
    </div>

    <!-- Block4 -->
    <div class="block4 wrap-pic-w">
      <img src="assets/img/gallery-09.jpg" alt="IMG-INSTAGRAM">

      <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
        <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
          <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
          <span class="p-t-2">39</span>
        </span>

        <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
          <p class="s-text10 m-b-15 h-size1 of-hidden">
            Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
          </p>

          <span class="s-text9">
            Photo by @nancyward
          </span>
        </div>
      </a>
    </div>

    <!-- Block4 -->
    <div class="block4 wrap-pic-w">
      <img src="assets/img/gallery-13.jpg" alt="IMG-INSTAGRAM">

      <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
        <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
          <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
          <span class="p-t-2">39</span>
        </span>

        <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
          <p class="s-text10 m-b-15 h-size1 of-hidden">
            Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
          </p>

          <span class="s-text9">
            Photo by @nancyward
          </span>
        </div>
      </a>
    </div>

    <!-- Block4 -->
    <div class="block4 wrap-pic-w">
      <img src="assets/img/gallery-15.jpg" alt="IMG-INSTAGRAM">

      <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
        <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
          <i class="icon_heart_alt fs-20 p-r-12" aria-hidden="true"></i>
          <span class="p-t-2">39</span>
        </span>

        <div class="block4-overlay-txt trans-0-4 p-l-40 p-r-25 p-b-30">
          <p class="s-text10 m-b-15 h-size1 of-hidden">
            Nullam scelerisque, lacus sed consequat laoreet, dui enim iaculis leo, eu viverra ex nulla in tellus. Nullam nec ornare tellus, ac fringilla lacus. Ut sit amet enim orci. Nam eget metus elit.
          </p>

          <span class="s-text9">
            Photo by @nancyward
          </span>
        </div>
      </a>
    </div>
  </div>
</section>


