<!-- Header -->
<header class="">
		<!-- Header desktop -->
		<div class="container-menu-header-v3">
			<div class="p-l-5 p-t-10 p-r-20" >
					<p style="float:left;padding-left: 16px;" class="">Edit Page Content</p>
					<!-- <h3 style="float:left">CrystalBits</h3> -->
					<button style="float:right" class="btn btn-warning" (click)="navToBack();">
							Back
					</button>
			</div>
			<div class="p-t-10 ">
					<div class="">
						<nav class="">
							<ul class="menu-item">
								<li style="padding-left: 16px;">
									<a [routerLink]="['/index']">Home</a>
									<!-- <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i> -->
								</li>
								<li (click)="switchView('stockMgmt');" class="list-item hov1" [hidden]="activeView!='BASE'">
									Stock Management
								</li>
								<li (click)="switchView('stockMgmt.category');" class="list-item" [hidden]="activeView!='stockMgmt'"> 
									Category
								</li>
								<li (click)="switchView('stockMgmt.product');" class="list-item" [hidden]="activeView!='stockMgmt'"> 
									Product
								</li>
								<!-- <li (click)="switchView('stockMgmt.stockrate');" class="list-item" [hidden]="activeView!='stockMgmt'">
									Stock Rate
								</li> -->
	
								<li (click)="switchView('contMgmt');" class="list-item hov1" [hidden]="activeView!='BASE'">
									Content Management
								</li>
	
								<li (click)="switchView('contMgmt.header');" class="list-item" [hidden]="activeView!='contMgmt'">
									Header
								</li>
	
								<li (click)="switchView('contMgmt.flashsales');" class="list-item" [hidden]="activeView!='contMgmt'">
									Flash Sales
								</li>
	
								<li (click)="switchView('contMgmt.footer');" class="list-item" [hidden]="activeView!='contMgmt'">
									Footer
								</li>
	
								<li (click)="switchView('usrMgmt');" class="list-item hov1" [hidden]="activeView!='BASE'">
									User Management
								</li>
	
								<!-- <li (click)="switchView('usrMgmt.add');" class="list-item" [hidden]="activeView!='usrMgmt'">
									Add User
								</li>
	
								<li (click)="switchView('usrMgmt.view');" class="list-item" [hidden]="activeView!='usrMgmt'">
									View Users
								</li>
	
								<li (click)="switchView('usrMgmt.edit');" class="list-item" [hidden]="activeView!='usrMgmt'">
									Edit User
								</li> -->
	
	
								<li (click)="switchView('rptMgmt');" class="list-item hov1" [hidden]="activeView!='BASE'">
									Report
								</li>
	
								<li (click)="switchView('rptMgmt.generate');" class="list-item" [hidden]="activeView!='rptMgmt'">
									Generate Report
								</li>
	
	
							</ul>
						</nav>
						<div  style="overflow-y:auto;height: 520px;">
							<div class="p-l-18 p-r-10" [hidden]="activeView!='stockMgmt.category'">
								<div  [hidden]="navStackOpt.mode!='list'" class="leave-comment">
									
										<h4 class="m-text19 p-b-14">
											Categories
										</h4>
										<ul class="p-b-25">
											<li (click)="switchNavStack('view',cats);" class="list-item hov1" *ngFor="let cats of myCategories">
												{{cats.categoryName}}
											</li>
										</ul>
										<button (click)="switchNavStack('new',{});" class="flex-c-m customsize1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											New
									</button>
								</div>
								<div [hidden]="navStackOpt.mode!='view'" class="leave-comment">
										<!-- <h4 class="m-text19 p-b-14">
											{{newCategory.categoryName}} 
										</h4> -->
										<div class="bo12 of-hidden size19 m-b-20 m-text18">
											<input required class="sizefull notextborder s-text7 p-l-18 p-r-18" type="text" value="newCategory.categoryName" [(ngModel)]="newCategory.categoryName"  placeholder="Category Name *">
										</div>																			
			
										<div class="flex-m flex-w p-b-10">	
												<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
													<select [(ngModel)]="newCategory.classtype" value="newCategory.classtype" class="selection-2" >
														<option value="">Choose Category Class</option>
														<option value="Technology">Technology</option>
														<option value="Fashion">Fashion</option>
														<option value="Construction">Construction</option>
													</select>
												</div>
										</div>
			
										<textarea required class="dis-block s-text7 size18 bo12 p-l-18 p-r-18 p-t-13 m-b-20"  
										[(ngModel)]="newCategory.description" value="newCategory.description"  placeholder="Description"></textarea>
			
			
										<div class="w-size24">
											<button (click)="addCategory(newCategory)" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
												Update
											</button>
											
										</div>
								</div>
								<div  [hidden]="navStackOpt.mode!='new'" class="leave-comment">
									<h4 class="m-text22 p-b-14">
										New Category 
									</h4>
									<div class="bo12 of-hidden size19 m-b-20">
										<input required class="sizefull s-text7 p-l-18 p-r-18" type="text" [(ngModel)]="newCategory.categoryName"  placeholder="Name *">
									</div>
		
									<input type="text"    id="uid" value="usr2308" style="display: none;">
		
									
		
									<div class="flex-m flex-w p-b-10">	
											<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
												<select [(ngModel)]="newCategory.classtype" class="selection-2" >
													<option value="">Choose Category Class</option>
													<option value="Technology">Technology</option>
													<option value="Fashion">Fashion</option>
													<option value="Construction">Construction</option>
												</select>
											</div>
									</div>
		
									<textarea required class="dis-block s-text7 size18 bo12 p-l-18 p-r-18 p-t-13 m-b-20" [(ngModel)]="newCategory.description"  placeholder="Description"></textarea>
		
		
									<div class="w-size24">
										<button (click)="addCategory(newCategory)" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											Add
										</button>
									</div>
								</div>
							</div>
							<div class="p-l-18 p-r-10" [hidden]="activeView!='stockMgmt.product'">
								<div  [hidden]="navStackOpt.mode!='list'" class="leave-comment">
									<h4 class="m-text22 p-b-14">
										Products
									</h4>
									<ul class="p-b-25">
										<li (click)="switchNavStack('view',prod);" class="list-item hov1" *ngFor="let prod of myProducts">
											{{prod.productName}}
										</li>
									</ul>
									<button (click)="switchNavStack('new',{});" class="flex-c-m customsize1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										New
									</button>
								</div>
								<div [hidden]="navStackOpt.mode!='view'" class="leave-comment">
									<!-- <form enctype="multipart/form-data" action="POST" method="POST" id="updateProduct"> -->
											<div class="bo12 of-hidden size19 m-b-20">
												<input required class="sizefull s-text7 p-l-18 p-r-18" type="text" [(ngModel)]="newProduct.productName" placeholder="Name *">
											</div>
											<div class="bo12 of-hidden size19 m-b-20">
												<input required class="sizefull s-text7 p-l-18 p-r-18" type="text" [(ngModel)]="newProduct.price" placeholder="Price *">
											</div>
				
											<!-- {{newProduct|json}} -->
											<img id="imgVal" *ngIf ="newProduct.image!=''&&newProduct.image!=null" class="m-b-20" src="{{newProduct.image}}" style="height: 150px;width: 95%">
											<img id="imgVal" *ngIf ="newProduct.image==''||newProduct.image==null" class="m-b-20" src="assets/noimage.png" style="height: 150px;width: 95%">
											<p style="border-radius: 5px;" onclick= "loadImage()" class="m-b-5 hov1">Update</p>
											<input style="display:none" accept="image/*" (change)="changeListener($event)" type="file" id="imgTrigger">
				
											
				
											<div class="flex-m flex-w p-b-5">	
													<div class="">
														<select [(ngModel)]="newProduct.prodCategory" class="form-group select selection-2" >
															<option value="" selected>Choose Category Class</option>
															<option value="Technology">Technology</option>
															<option value="Fashion">Fashion</option>
															<option value="Construction">Construction</option>
														</select>
													</div>
											</div>
				
											<textarea required class="dis-block s-text7 size18 bo12 p-l-18 p-r-18 p-t-13 m-b-20" [(ngModel)]="newProduct.description" placeholder="Description"></textarea>
				
				
											<div class="w-size24">
												<!-- Button -->
												<button (click)="addProduct()" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
													Update
												</button>
											</div>
									<!-- </form> -->
								</div>
								<div  [hidden]="navStackOpt.mode!='new'" class="leave-comment">
									<h4 class="m-text22 p-b-14">
										Add Product/Service
									</h4>									
									<div class="bo12 of-hidden size19 m-b-20">
										<input required class="sizefull s-text7 p-l-18 p-r-18" type="text" [(ngModel)]="newProduct.productName" placeholder="Name *">
									</div>
									<div class="bo12 of-hidden size19 m-b-20">
										<input required class="sizefull s-text7 p-l-18 p-r-18" type="text" [(ngModel)]="newProduct.price" placeholder="Price *">
									</div>
		
									<div class="m-b-20" style="background-image: url(assets/img/gallery-03.jpg);height: 150px;width: 95%">

									</div>
		
									
		
									<div class="flex-m flex-w p-b-5">	
											<div class="">
												<select [(ngModel)]="newProduct.prodCategory" class="form-group select selection-2" >
													<option value="" selected>Choose Category Class</option>
													<option value="Technology">Technology</option>
													<option value="Fashion">Fashion</option>
													<option value="Construction">Construction</option>
												</select>
											</div>
									</div>
		
									<textarea required class="dis-block s-text7 size18 bo12 p-l-18 p-r-18 p-t-13 m-b-20" [(ngModel)]="newProduct.description" placeholder="Description"></textarea>
		
		
									<div class="w-size24">
										<!-- Button -->
										<button (click)="addProduct()" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											Add
										</button>
									</div>
								</div>
							</div>
							<div class="p-l-18 p-r-10" [hidden]="activeView!='contMgmt.header'">
								<div  [hidden]="navStackOpt.mode!='list'" class="leave-comment">
									<h4 class="m-text25 p-b-14">
										Header
									</h4>
									<div class="bo12 of-hidden size19 m-b-20">
										<input required class="sizefull s-text7 p-l-18 p-r-18" type="text" [(ngModel)]="propSetings.pageHeader.mainTitle" placeholder="Main Title *">
									</div>
									<div class="bo12 of-hidden size19 m-b-20">
										<input required class="sizefull s-text7 p-l-18 p-r-18" type="text" [(ngModel)]="propSetings.pageHeader.subTitle" placeholder="Sub Title *">
									</div>
									<p>Banner</p>
									<!-- <div class="bo12 of-hidden size19 m-b-20"> -->
										<div class="m-b-20" style="background-image: url(assets/img_bg_1.jpg);height: 150px;width: 95%;background-size:cover">
										
										</div>
										<p class="m-b-5 hov1">Change Banner</p>
									<!-- </div> -->
									<button (click)="switchNavStack('new',{});" class="flex-c-m customsize1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Update
									</button>
								</div>
							</div>
							<div class="p-l-18 p-r-10" [hidden]="activeView!='contMgmt.flashsales'">
								<div  [hidden]="navStackOpt.mode!='list'" class="leave-comment">
									<h4 class="m-text25 p-b-14">
										FlashSales
									</h4>
									<div class="bo12 of-hidden size19 m-b-20">
										<input required class="sizefull s-text7 p-l-18 p-r-18" type="text" [(ngModel)]="propSetings.pageHeader.mainTitle" placeholder="Main Title *">
									</div>
									<div class="bo12 of-hidden size19 m-b-20">
										<input  required class="sizefull s-text7 p-l-18 p-r-18" type="text" [(ngModel)]="propSetings.pageHeader.subTitle" placeholder="Sub Title *">
									</div>
									<p>Banner</p>
									<!-- <div class="bo12 of-hidden size19 m-b-20"> -->
										<div class="m-b-20" style="background-image: url(assets/img_bg_1.jpg);height: 150px;width: 95%;background-size:cover">
										
										</div>
										<p class="m-b-5 hov1">Change Banner</p>
									<!-- </div> -->
									<button (click)="switchNavStack('new',{});" class="flex-c-m customsize1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Update
									</button>
								</div>
							</div>
							<div class="p-l-18 p-r-10" [hidden]="activeView!='contMgmt.footer'">
								<div  [hidden]="navStackOpt.mode!='list'" class="leave-comment">
									<h4 class="m-text25 p-b-14">
										Footer
									</h4>
									<div class="p-b-10 " id="accordionExample">
											<div class="card">
											  <div class="card-header" id="headingOne">
												<h5 class="mb-0">
												  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
														Column 1
												  </button>
												</h5>
											  </div>
										  
											  <div style="overflow-y:auto;height: 200px;" id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
												<div class="card-body">
													<div class="show bo12 of-hidden size19 m-b-10">
														<input class="sizefull s-text7 m-b-5 p-l-10 p-r-10" type="text" [(ngModel)]="pageFooter[0].columnTitle" placeholder="Main Title *">
														
													</div>
													<textarea class="dis-block s-text7 size18 bo12 p-l-10 p-r-10  m-b-5"  
															[(ngModel)]="pageFooter[0].columnDescriptn"  placeholder="Content"></textarea>
												</div>
											  </div>
											</div>
											<div class="card">
											  <div class="card-header" id="headingTwo">
												<h5 class="mb-0">
												  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
														Column 2
												  </button>
												</h5>
											  </div>
											  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
												<div class="card-body">
													<div class="show bo12 of-hidden size19 m-b-10">
														<input class="sizefull s-text7 m-b-5 p-l-10 p-r-10" type="text" [(ngModel)]="pageFooter[1].columnTitle" placeholder="Main Title *">
														
													</div>
													<textarea class="dis-block s-text7 size18 bo12 p-l-10 p-r-10  m-b-5"  
															[(ngModel)]="pageFooter[1].columnDescriptn"  placeholder="Content"></textarea>
												</div>
											  </div>
											</div>
											<div class="card">
											  <div class="card-header" id="headingThree">
												<h5 class="mb-0">
												  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
														Column 3
												  </button>
												</h5>
											  </div>
											  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
												<div class="card-body">
													<div class="show bo12 of-hidden size19 m-b-10">
														<input class="sizefull s-text7 m-b-5 p-l-10 p-r-10" type="text" [(ngModel)]="pageFooter[2].columnTitle" placeholder="Main Title *">
														
													</div>
													<textarea class="dis-block s-text7 size18 bo12 p-l-10 p-r-10  m-b-5"  
															[(ngModel)]="pageFooter[2].columnDescriptn"  placeholder="Content"></textarea>
												</div>
											  </div>
											</div>
											<div class="card">
												<div class="card-header" id="headingFour">
													<h5 class="mb-0">
													<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
															Column 4
													</button>
													</h5>
												</div>
												<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
													<div class="card-body">
														<div class="show bo12 of-hidden size19 m-b-10">
															<input class="sizefull s-text7 m-b-5 p-l-10 p-r-10" type="text" [(ngModel)]="pageFooter[3].columnTitle" placeholder="Main Title *">
															
														</div>
														<textarea class="dis-block s-text7 size18 bo12 p-l-10 p-r-10  m-b-5"  
																[(ngModel)]="pageFooter[3].columnDescriptn"  placeholder="Content"></textarea>
													</div>
												</div>
											</div>
									</div>
									
									<button (click)="saveProp();" class="flex-c-m customsize1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Update
									</button>
								</div>
							</div>
							<div class="p-l-18 p-r-10" [hidden]="activeView!='usrMgmt'">

								<div  [hidden]="navStackOpt.mode!='list'" class="leave-comment">
									<h4 class="m-text20 p-b-14">
										Users
									</h4>
									<ul class="m-b-15 m-t-15">
										<li (click)="switchNavStack('view',staff);" class=" hov1" *ngFor="let staff of myStaffs">
											{{staff.email}}
										</li>
									</ul>
									<button (click)="switchNavStack('new',{});" class="flex-c-m customsize1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										New
								</button>
								</div>
								<div [hidden]="navStackOpt.mode!='view'" class="leave-comment">
										<h4 class="m-text25 p-b-14">
											{{staffDetail.email}} 
										</h4>
										<div class="bo12 of-hidden size19 m-b-20">
											<input required class="sizefull s-text7 p-l-18 p-r-18" type="text" value="staffDetail.email" [(ngModel)]="staffDetail.email"  placeholder="Staff Name *">
										</div>		
										
										<!-- <div class="bo12 of-hidden size19 m-b-20">
											<input required class="sizefull s-text7 p-l-18 p-r-18" type="password" value="staffDetail.passkey" [(ngModel)]="staffDetail.passkey"  placeholder="Password *">
										</div> -->
										<!-- <label>Is Active</label> -->
										<!-- <div class="bo12 of-hidden size19 m-b-20">
											<input required class="sizefull s-text7 p-l-18 p-r-18" type="text" value="staffDetail.isActive" [(ngModel)]="staffDetail.isActive"  placeholder="Is active *">
										</div> -->
											
										<div class="flex-m flex-w p-b-5">	
												<div class="">
													<select class="form-group select selection-2" >
															<option value="" >Select User Role</option>
															<option value="Technology">Operator</option>
															<option value="Fashion">Admin</option>
															<option value="Construction">Auditor</option>
													</select>
												</div>
										</div>
										<div class="m-b-20" style="background-image: url(assets/img_bg_1.jpg);height: 180px;width: 200px;background-size:cover;border-radius:50%">
										
										</div>
										<p class="m-b-5 hov1 ">Change Image</p>
			
										<div class="w-size24">
											
											<button (click)="addCategory(newCategory)" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
												Update
											</button>
											
										</div>
								</div>
								<div  [hidden]="navStackOpt.mode!='new'" class="leave-comment">
									<h4 class="m-text25 p-b-14">
										Category 
									</h4>
									<div class="bo12 of-hidden size19 m-b-20">
										<input required class="sizefull s-text7 p-l-18 p-r-18" type="text" [(ngModel)]="newCategory.categoryName"  placeholder="Name *">
									</div>
		
									<input type="text"    id="uid" value="usr2308" style="display: none;">
		
									
		
									<div class="flex-m flex-w p-b-10">	
											<div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
												<select [(ngModel)]="newCategory.classtype" class="selection-2" >
													<option value="">Choose Category Class</option>
													<option value="Technology">Technology</option>
													<option value="Fashion">Fashion</option>
													<option value="Construction">Construction</option>
												</select>
											</div>
									</div>
		
									<textarea required class="dis-block s-text7 size18 bo12 p-l-18 p-r-18 p-t-13 m-b-20" [(ngModel)]="newCategory.description"  placeholder="Description"></textarea>
		
		
									<div class="w-size24">
										<button (click)="addCategory(newCategory)" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
											Add
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap_header_mobile">
			<!-- Logo moblie -->
			<a href="index.html" class="logo-mobile">
				<img src="assets/images/icons/logo.png" alt="IMG-LOGO">
			</a>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<!-- Header Icon mobile -->
				<div class="header-icons-mobile">
					<a href="#" class="header-wrapicon1 dis-block">
						<img src="assets/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
					</a>

					<span class="linedivide2"></span>

					<div class="header-wrapicon2">
						<img src="assets/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<span class="header-icons-noti">0</span>

						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="assets/images/item-cart-01.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											White Shirt With Pleat Detail Back
										</a>

										<span class="header-cart-item-info">
											1 x $19.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="assets/images/item-cart-02.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Converse All Star Hi Black Canvas
										</a>

										<span class="header-cart-item-info">
											1 x $39.00
										</span>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-img">
										<img src="assets/images/item-cart-03.jpg" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="#" class="header-cart-item-name">
											Nixon Porter Leather Watch In Tan
										</a>

										<span class="header-cart-item-info">
											1 x $17.00
										</span>
									</div>
								</li>
							</ul>

							<div class="header-cart-total">
								Total: $75.00
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</div>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<span class="topbar-child1">
							Free shipping for standard order over $100
						</span>
					</li>

					<li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
						<div class="topbar-child2-mobile">
							<span class="topbar-email">
								fashe@example.com
							</span>

							<div class="topbar-language rs1-select2">
								<select class="selection-1" name="time">
									<option>USD</option>
									<option>EUR</option>
								</select>
							</div>
						</div>
					</li>

					<li class="item-topbar-mobile p-l-10">
						<div class="topbar-social-mobile">
							<a href="#" class="topbar-social-item fa fa-facebook"></a>
							<a href="#" class="topbar-social-item fa fa-instagram"></a>
							<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
							<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
							<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
						</div>
					</li>

					<li class="item-menu-mobile">
						<a [routerLink]="['/index']">Home</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
					</li>

					<li class="item-menu-mobile">
						<a (click)="switchView('stockMgmt');">Stock Management</a>
					</li>

					<li class="item-menu-mobile">
						<a (click)="switchView('contMgmt');">Content Management</a>
					</li>

					<li class="item-menu-mobile">
						<a (click)="switchView('usrMgmt');">User Management</a>
					</li>
					<li>
						<a (click)="switchView('usrMgmt');">Customer Management</a>
					</li>

					<li class="item-menu-mobile">
						<a (click)="switchView('analyticsMGmt');">Analytics</a>
					</li>

					<li class="item-menu-mobile">
						<a (click)="switchView('payMntMgmt');">Payment Options</a>
					</li>

					<li class="item-menu-mobile">
						<a (click)="switchView('rptMgmt');">Report</a>
					</li>

					<!-- <li class="item-menu-mobile">
						<a href="contact.html">Contact</a>
					</li> -->
				</ul>
			</nav>
		</div>
</header>

<div class="container1-page"> 
		<!-- <div class="topbar">
				<div class="topbar-social">
					<a href="#" class="topbar-social-item fa fa-facebook"></a>
					<a href="#" class="topbar-social-item fa fa-instagram"></a>
					<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
					<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
					<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
				</div>
	
				<span class="topbar-child1">
					Edit Mode
				</span>
	
				<div class="topbar-child2">
					<span [hidden]=" usrSession.uid==null||usrSession.uid==''||!usrSession.uid.includes('HY') " class="topbar-email">
						User:  {{usrSession.uid}}
					</span>
				</div>
		</div> -->
		<div class="topbar wrap_menu">
				<div class="topbar-social">
					<a href="#" class="topbar-social-item fa fa-facebook"></a>
					<a href="#" class="topbar-social-item fa fa-instagram"></a>
					<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
				</div>
				<nav class="menu">
					<ul class="main_menu">
						<li>
						<a [routerLink]="['/index']">Home</a>
						</li>
						<li>
						<a [routerLink]="['/stores']">Stores</a>
						</li>
						<li>
						<a [routerLink]="['/products']">Products</a>
						</li>
								
						<li>
								<a [routerLink]="['/advert']">Advertise</a>
						</li>
						
						<li>
								<a [routerLink]="['/contact']">Contact Us</a>
						</li>
				
					</ul>
				</nav>		
				<div class="topbar-child2">
					<span [hidden]=" usrSession.uid==null||usrSession.uid==''||!usrSession.uid.includes('HY') " class="topbar-email">
						User:  {{usrSession.uid}}
					</span>
				</div>
			</div>
		
		<!-- Slide1 -->
		<section class="slide1 rs1-slick1">
			<div class="wrap-slick1">
				<div class="slick1">
					<div class="item-slick1 item1-slick1" style="height: 45vh;background-size: cover; background-image: url(assets/img_bg_1.jpg);">
						<div class="wrap-content-slide1 size24 flex-col-c-m p-l-15 p-r-15 p-t-120 p-b-170">
							<h2 class="xl-text3 t-center bo15 p-b-3  m-b-25" >
									{{propSetings.pageHeader.mainTitle}}
							</h2>

							<span style="color: red;" class=" m-text27 t-center m-b-30" >
									{{propSetings.pageHeader.subTitle}}
							</span>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Shipping -->
		<section  class="shipping bgwhite p-t-62 p-b-46">
				<div class="flex-w p-l-15 p-r-15">
					<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
						<h4 class="m-text12 t-center">
							Free Delivery Worldwide
						</h4>
	
						<a href="#" class="s-text11 t-center">
							Click here for more info
						</a>
					</div>
	
					<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
						<h4 class="m-text12 t-center">
							30 Days Return
						</h4>
	
						<span class="s-text11 t-center">
							Simply return it within 30 days for an exchange.
						</span>
					</div>
	
					<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
						<h4 class="m-text12 t-center">
							Store Opening
						</h4>
	
						<span class="s-text11 t-center">
							Shop open from Monday to Sunday
						</span>
					</div>
				</div>
		</section>
		
		<!-- Banner2 -->
		<!-- <div  class="banner2 bg5 p-t-55 p-b-55 bg-img1" style="background-image: url(assets/images/bg-banner-02.jpg);">
			<div class="container">
				<div class="flex-w flex-r-m flex-c-xl">
					<div class="p-t-15 p-b-15 w-size28">
						<div class="bgwhite hov-img-zoom pos-relative p-b-20per-ssm">
							<img src="assets/images/shop-item-09.jpg" alt="IMG-BANNER">

							<div class="ab-t-l sizefull flex-col-c-b p-l-15 p-r-15 p-b-20">
								<div class="t-center">
									<a href="product-detail.html" class="dis-block s-text3 p-b-5">
										Gafas sol Hawkers one
									</a>

									<span class="block2-oldprice m-text7 p-r-5">
										$29.50
									</span>

									<span class="block2-newprice m-text8">
										$15.90
									</span>
								</div>

								<div class="flex-c-m p-t-44 p-t-30-xl">
									<div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
										<span class="m-text10 p-b-1 days">
											69
										</span>

										<span class="s-text5">
											days
										</span>
									</div>

									<div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
										<span class="m-text10 p-b-1 hours">
											04
										</span>

										<span class="s-text5">
											hrs
										</span>
									</div>

									<div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
										<span class="m-text10 p-b-1 minutes">
											32
										</span>

										<span class="s-text5">
											mins
										</span>
									</div>

									<div class="flex-col-c-m size3 bo1 m-l-5 m-r-5">
										<span class="m-text10 p-b-1 seconds">
											05
										</span>

										<span class="s-text5">
											secs
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<!-- Our product -->
		<section  class="bgwhite p-t-75 p-b-58">
			<div class="container">
				<div class="sec-title p-b-22">
					<h3 class="m-text5 t-center">
						Our Products
					</h3>
				</div>

				<!-- Tab01 -->
				<div class="tab01">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#best-seller" role="tab">Best Seller</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#featured" role="tab">Featured</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#sale" role="tab">Sale</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#top-rate" role="tab">Top Rate</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content p-t-35">
						<!-- - -->
						<div class="tab-pane fade show active" id="best-seller" role="tabpanel">
							<div class="row">
								<div *ngFor="let product of myProducts" class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
											<img *ngIf="product.image==null||product.image==''" src="assets/images/item-02.jpg" style="height: 215px;" alt="IMG-PRODUCT">
											<img *ngIf="product.image!=null&&product.image!=''" src="{{product.image}}" style="height: 215px;" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button><br>
													<button (click)="navToProductdetails(product);" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														View Info
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												{{product.productName}}
											</a>

											<span class="block2-price m-text6 p-r-5">
												${{product.price}}
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- - -->
						<div class="tab-pane fade " id="featured" role="tabpanel">
							<div class="row">
								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
											<img src="assets/images/item-07.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Frayed denim shorts
											</a>

											<span class="block2-oldprice m-text7 p-r-5">
												$29.50
											</span>

											<span class="block2-newprice m-text8 p-r-5">
												$15.90
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
											<img src="assets/images/item-01.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Herschel supply co 25l
											</a>

											<span class="block2-price m-text6 p-r-5">
												$75.00
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative">
											<img src="assets/images/item-14.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Denim jacket blue
											</a>

											<span class="block2-price m-text6 p-r-5">
												$92.50
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
											<img src="assets/images/item-06.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Herschel supply co 25l
											</a>

											<span class="block2-price m-text6 p-r-5">
												$75.00
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
											<img src="assets/images/item-11.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Frayed denim shorts
											</a>

											<span class="block2-oldprice m-text7 p-r-5">
												$29.50
											</span>

											<span class="block2-newprice m-text8 p-r-5">
												$15.90
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
											<img src="assets/images/item-12.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Herschel supply co 25l
											</a>

											<span class="block2-price m-text6 p-r-5">
												$75.00
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative">
											<img src="assets/images/item-15.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Denim jacket blue
											</a>

											<span class="block2-price m-text6 p-r-5">
												$92.50
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--  -->
						<div class="tab-pane fade" id="sale" role="tabpanel">
							<div class="row">
								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
											<img src="assets/images/item-01.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Herschel supply co 25l
											</a>

											<span class="block2-price m-text6 p-r-5">
												$75.00
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
											<img src="assets/images/item-14.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Denim jacket blue
											</a>

											<span class="block2-price m-text6 p-r-5">
												$92.50
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
											<img src="assets/images/item-06.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Herschel supply co 25l
											</a>

											<span class="block2-price m-text6 p-r-5">
												$75.00
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
											<img src="assets/images/item-08.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Denim jacket blue
											</a>

											<span class="block2-price m-text6 p-r-5">
												$92.50
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!--  -->
						<div class="tab-pane fade" id="top-rate" role="tabpanel">
							<div class="row">
								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
											<img src="assets/images/item-02.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Herschel supply co 25l
											</a>

											<span class="block2-price m-text6 p-r-5">
												$75.00
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative">
											<img src="assets/images/item-03.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Denim jacket blue
											</a>

											<span class="block2-price m-text6 p-r-5">
												$92.50
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative">
											<img src="assets/images/item-05.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Coach slim easton black
											</a>

											<span class="block2-price m-text6 p-r-5">
												$165.90
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
											<img src="assets/images/item-07.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Frayed denim shorts
											</a>

											<span class="block2-oldprice m-text7 p-r-5">
												$29.50
											</span>

											<span class="block2-newprice m-text8 p-r-5">
												$15.90
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative">
											<img src="assets/images/item-10.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Coach slim easton black
											</a>

											<span class="block2-price m-text6 p-r-5">
												$165.90
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelsale">
											<img src="assets/images/item-11.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Frayed denim shorts
											</a>

											<span class="block2-oldprice m-text7 p-r-5">
												$29.50
											</span>

											<span class="block2-newprice m-text8 p-r-5">
												$15.90
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
											<img src="assets/images/item-12.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Herschel supply co 25l
											</a>

											<span class="block2-price m-text6 p-r-5">
												$75.00
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-img wrap-pic-w of-hidden pos-relative">
											<img src="assets/images/item-15.jpg" alt="IMG-PRODUCT">

											<div class="block2-overlay trans-0-4">
												<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
													<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
													<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
												</a>

												<div class="block2-btn-addcart w-size1 trans-0-4">
													<!-- Button -->
													<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
														Add to Cart
													</button>
												</div>
											</div>
										</div>

										<div class="block2-txt p-t-20">
											<a href="product-detail.html" class="block2-name dis-block s-text3 p-b-5">
												Denim jacket blue
											</a>

											<span class="block2-price m-text6 p-r-5">
												$92.50
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
				<div class="flex-w p-b-90">
						<div class="w-sizec8 p-t-30 p-l-15 p-r-15 respon3">
						  <h4 class="s-text12 p-b-30">
							{{pageFooter[0].columnTitle}}
						  </h4>
					
						  <div>
							<p class="s-text7 w-size27">
							  {{pageFooter[0].columnDescriptn}}
							</p>
					
							<div class="flex-m p-t-30">
							  <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
							  <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
							  <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
							  <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
							  <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
							</div>
						  </div>
						</div>
					
						<div class="w-sizec8 p-t-30 p-l-15 p-r-15 respon4">
						  <h4 class="s-text12 p-b-30">
								{{pageFooter[1].columnTitle}}
						  </h4>
					
						  <ul>
							<li class="p-b-9">
							  <a href="#" class="s-text7">
								Men
							  </a>
							</li>
					
							<li class="p-b-9">
							  <a href="#" class="s-text7">
								Women
							  </a>
							</li>
					
							<li class="p-b-9">
							  <a href="#" class="s-text7">
								Dresses
							  </a>
							</li>
					
							<li class="p-b-9">
							  <a href="#" class="s-text7">
								Sunglasses
							  </a>
							</li>
						  </ul>
						</div>
					
						<div class="w-sizec8 p-t-30 p-l-15 p-r-15 respon4">
						  <h4 class="s-text12 p-b-30">
								{{pageFooter[2].columnTitle}}
						  </h4>
					
						  <ul>
							<li class="p-b-9">
							  <a href="#" class="s-text7">
								Search
							  </a>
							</li>
					
							<li class="p-b-9">
							  <a href="#" class="s-text7">
								About Us
							  </a>
							</li>
					
							<li class="p-b-9">
							  <a href="#" class="s-text7">
								Contact Us
							  </a>
							</li>
					
							<li class="p-b-9">
							  <a href="#" class="s-text7">
								Returns
							  </a>
							</li>
						  </ul>
						</div>
					
						<div class="w-sizec8 p-t-30 p-l-15 p-r-15 respon4">
						  <h4 class="s-text12 p-b-30">
								{{pageFooter[3].columnTitle}}
						  </h4>
					
						  <ul>
							<li class="p-b-9">
							  <a href="#" class="s-text7">
								Track Order
							  </a>
							</li>
					
							<li class="p-b-9">
							  <a href="#" class="s-text7">
								Returns
							  </a>
							</li>
					
							<li class="p-b-9">
							  <a href="#" class="s-text7">
								Shipping
							  </a>
							</li>
					
							<li class="p-b-9">
							  <a href="#" class="s-text7">
								FAQs
							  </a>
							</li>
						  </ul>
						</div>
					
						<div class="w-sizec8 p-t-30 p-l-15 p-r-15 respon3">
						  <h4 class="s-text12 p-b-30">
								{{pageFooter[4].columnTitle}}
						  </h4>
					
						  <form>
							<div class="effect1 w-size9">
							  <input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
							  <span class="effect1-line"></span>
							</div>
					
							<div class="w-size2 p-t-20">
							  <!-- Button -->
							  <button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
								Subscribe
							  </button>
							</div>
					
						  </form>
						</div>
					  </div>
					
					  <div class="t-center p-l-15 p-r-15">
						<a href="#">
						  <img class="h-size2" src="assets/images/icons/paypal.png" alt="IMG-PAYPAL">
						</a>
					
						<a href="#">
						  <img class="h-size2" src="assets/images/icons/visa.png" alt="IMG-VISA">
						</a>
					
						<a href="#">
						  <img class="h-size2" src="assets/images/icons/mastercard.png" alt="IMG-MASTERCARD">
						</a>
					
						<a href="#">
						  <img class="h-size2" src="assets/images/icons/express.png" alt="IMG-EXPRESS">
						</a>
					
						<a href="#">
						  <img class="h-size2" src="assets/images/icons/discover.png" alt="IMG-DISCOVER">
						</a>
					
						<div class="t-center s-text8 p-t-20">
						  Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						</div>
					  </div>
		</div>

		
</div>>